<ion-view hide-nav-bar="true" id="page4" class=" ">
    <ion-content padding="true">
      <div class="list">
        <li class="item item-divider">
          Add New User
        </li>

        <div class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="user.name" placeholder="Enter name">
          <button ng-click="multiname.show=!multiname.show"
            class="button button-dark">
              <i
                class="icon" ng-class="{'ion-ios-arrow-down': !multiname.show, 'ion-ios-arrow-up': multiname.show}">
              </i>
          </button>
          &nbsp;
        </div>

        <div class="item item-input" ng-if="multiname.show" ng-repeat="name in multiname.names track by $index">
          <span class="input-label"></span>
          <input type="text" ng-model="multiname.names[$index]" placeholder="Enter name">
          <button
            ng-if="$index===multiname.names.length-1"
            ng-click="multiname.names.push('')"
            class="button button-dark">
              <i
                class="icon ion-ios-plus-outline">
              </i>
          </button>
          <button
            ng-if="$index!==multiname.names.length-1"
            ng-click="multiname.names.splice($index, 1)"
            class="button button-dark">
              <i
                class="icon ion-ios-trash-outline">
              </i>
          </button>
          &nbsp;
        </div>


        <ion-list>
          <ion-radio
            ng-model="user.type"
            ng-class="{darkish: !!admin.enabled !== !!settings.add_option}"
            ng-click="staffClickAdminTest()"
            ng-value="'staff'">
              Staff
          </ion-radio>
          <ion-radio
            ng-model="user.type"
            ng-value="'guest'">
              Guest
            </ion-radio>
        </ion-list>


          <li class="item item-toggle">
             Signing in now?
             <label class="toggle">
               <input
                 type="checkbox" ng-model="user.status"
                 ng-true-value="'in'" ng-false-value="'out'">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>


        <li class="item">
          <button
            class="button button-block button-calm"
            ng-disabled="user.name.length < 2"
            ng-click="rosterAdd()">
              Add {{add.type}}
          </button>
        </li>
      </div>
    </ion-content>

    <div ng-include src="'templates/adminBar.html'"></div>
</ion-view>
