<ion-view title="New User" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="user.name" placeholder="">
        </label>

        <ion-list>
          <ion-radio ng-model="user.type" ng-if="!settings.add_option" ng-value="'staff'">Staff</ion-radio>
          <ion-radio ng-model="user.type" ng-value="'guest'">Guest</ion-radio>
        </ion-list>

        <ul class="">
          <li class="item item-toggle">
             Signed In?
             <label class="toggle">
               <input
                 type="checkbox" ng-model="user.status"
                 ng-true-value="'in'" ng-false-value="'out'">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
        </ul>

        <div class="padding">
          <button
            class="button button-block"
            ng-disabled="user.name.length < 2"
            ng-click="rosterAdd()">
              Add {{add.type}}
          </button>
        </div>
      </div>
    </ion-content>

    <div ng-include src="'templates/adminBar.html'"></div>
</ion-view>
