<ion-view hide-nav-bar="true" id="page4" class=" " cache-view="false" hide-tabs>
    <ion-content padding="true">
      <ul class="list">
        <li class="item item-divider">
          <a href="#/spacedout/settings" class="button button-calm">
            <i class="icon ion-arrow-left-b"></i>
            &nbsp; Back to Settings
          </a>
        </li>
        <li class="item">
          <button
            class="button button-stable"
            ng-click="export()">
              <i class="icon ion-log-out rotate-180"></i> Export Roster To Clipboard
            </button>
          <button
            class="button button-stable"
            ng-click="import()">
              <i class="icon ion-log-in"></i> Import Roster From Clipboard
            </button>
          <button
            class="button button-energized"
            ng-click="save()">
              Save
            </button>

          <div class="backup" ng-bind-html="rosterdumpHTML">
          </div>

        </li>
      </ul>
    </ion-content>

    <div ng-include src="'templates/adminBar.html'"></div>
</ion-view>
