<ion-view hide-nav-bar="true" id="page4" class="backup" cache-view="false" hide-tabs>
    <ion-content padding="true">
      <ul class="list">
        <li class="item item-divider">
          <a href="#/spacedout/settings" class="button button-calm">
            <i class="icon ion-arrow-left-b"></i>
            &nbsp; Back to Settings
          </a>
        </li>
        <li class="item">
          <h1 class="light">Export</h1>
          <button
            class="button button-stable"
            ng-click="export()">
              <i class="icon ion-log-out rotate-180"></i> Export Roster Via Email
            </button>

          <hr />

          <h1 class="light">Import</h1>
          <p>Paste a backup roster below to import.</p>
          <p><b class="assertive">Warning</b>, this will overwrite the current roster<br /><br /></p>

          <button
            class="button button-energized"
            ng-click="save()">
              Import Roster
            </button>

          <textarea class="rosterImport">{{rosterImport}}</textarea>

          </div>

        </li>
      </ul>
    </ion-content>

    <div ng-include src="'templates/adminBar.html'"></div>
</ion-view>
