<ion-view hide-nav-bar="true" id="page3" ng-click="message='Loading Roster...'" class=" " cache-view="false" hide-tabs>
  <ion-content padding="true">
    <ul class="list">
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <li class="item screensaver">
        <div class="row">
          <div class="col col-50">
            <img src="img/CS-Logo.png" class="branding"></img>
          </div>
          <div class="col col-50">
            <h1 class="time">{{info.date | amDateFormat:'H:mm'}}</h1>
            <h2><span class="date">{{info.date | amDateFormat:'dddd, MMMM Do'}}</span></h2>
          </div>
        </div>
      </li>
      <li class="list">
        <h1 class="calm message">&nbsp;&nbsp;{{message}} <i class="icon ion-log-in"></i>&nbsp;</h1>
      </li>
    </ul>
  </ion-content>
</ion-view>
