<ion-view
  hide-nav-bar="true" id="page3"
  on-swipe-left="swipe(); $event.stopPropagation();"
  on-swipe-right="swipe(); $event.stopPropagation();"
  ng-click="message='Loading Roster   '"
  class=" "
  cache-view="false" hide-tabs>

  <ion-content padding="true">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <ul class="list screensaver">
      <li class="item">
        <div class="row">
          <div class="col col-50">
            <img src="img/CS-Logo.png" class="branding"></img>
          </div>
          <div class="col col-50">
            <h1 class="time">{{info.date | amDateFormat:'HH:mm'}}</h1>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h2><span class="date">{{info.date | amDateFormat:'dddd, MMMM Do'}}</span></h2>
          </div>
        </div>
      </li>
      <li class="list item-divider">
        <h1 class="calm message">{{message}} <i class="icon ion-log-in"></i>&nbsp;</h1>
      </li>
    </ul>
    <div class="spacefact">
      <p>"{{spacefact}}"</p>
    </div>
  </ion-content>
</ion-view>
