<ion-view title="Settings" id="page4" class=" ">
    <ion-content padding="true" class="has-header">

      <ul class="list">
        <li class="item item-divider">
          Interface {{access}}
        </li>

        <li class="item item-input item-select">
          <label>
            <div class="input-label">
              Screen Saver
            </div>
            <select
              ng-model="settings.screensaver_time"
              ng-change="update();"
              ng-options="ss_time.id as ss_time.title for ss_time in screensaver_times">
            </select>
          </label>
        </li>

        <li class="item item-input item-select">
          <label>
            <div class="input-label">
              Add Screen
            </div>
            <select
              ng-model="settings.add_option"
              ng-change="update();"
              ng-options="option.id as option.title for option in add_options">
            </select>
          </label>
        </li>

        <li class="item item-toggle">
          Ask to remove Guests on Logout?
          <label class="toggle">
            <input
              type="checkbox"
              ng-model="settings.rights_auto_remove_guest"
              ng-true-value="1" ng-false-value="0"
              ng-change="update();"
            >
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>

        <li class="item item-divider">
          Event Log
        </li>

        <li class="item">
          <button class=" button-full">
            View Log
          </button>
        </li>

        <li>
          <label class="item item-input">
            <span class="input-label">Alert Contact Address</span>
            <input
              type="text"
              ng-model="settings.alert_email"
              ng-change="update();"
              placeholder="Address to send the Roster when 'Alert' is pressed"
            >
          </label>
        </li>

        <li class="item item-divider">
          Administrator
        </li>

        <li class="item">
          <button
            ng-click="updatePassword()"
            class="button-full">
              {{settings.password==""?'Set Password':'Change Password'}}
          </button>
        </li>

        <li class="item item-divider">
          Admin password required to:
        </li>

        <li class="item item-toggle">
          Access Settings
          <label class="toggle">
            <input
              type="checkbox"
              ng-model="settings.rights_access_settings"
              ng-true-value="1" ng-false-value="0"
              ng-change="update();"
            >
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>

        <li class="item item-toggle">
          Add and Remove Users
          <label class="toggle">
            <input
              type="checkbox"
              ng-model="settings.rights_add_remove_users"
              ng-true-value="1" ng-false-value="0"
              ng-change="update();"
            >
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>

        <li class="item item-toggle">
          Send Alert
          <label class="toggle">
            <input
              type="checkbox"
              ng-model="settings.rights_send_alert"
              ng-true-value="1" ng-false-value="0"
              ng-change="update();"
            >
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>

        <li class="item item-divider">
          Application Storage
        </li>

        <li class="item">
          <button ng-click="Nuke()" class="button-full">
            Delete All Stored Data
          </button>
        </li>

      </ul>
    </ion-content>
    <div ng-include src="'templates/adminBar.html'"></div>
</ion-view>
