<ion-view hide-nav-bar="true"  title="" id="page3" class="">

  <ion-header-bar align-title="left">
    <div class="bar bar-header">
      <div class="row" ng-if="!interface.multiselect" class="filters">
          <div class="col">
            <div class="button-bar">
              <a class="button button-dark" ng-click="interface.type='all'; interface.status='all'" ng-class="{selected: interface.type=='all'}">
                All
              </a>
              <a class="button button-dark" ng-click="interface.type='staff'; interface.status='all'" ng-class="{selected: interface.type=='staff'}">
                Staff ({{rosterCount('type', 'staff')}})
              </a>
              <a class="button button-dark" ng-click="interface.type='guest'; interface.status='all'" ng-class="{selected: interface.type=='guest'}">
                Guests ({{rosterCount('type', 'guest')}})
              </a>
              <a class="button button-dark" ng-click="interface.status='in'; interface.type='all'"  ng-class="{selected: interface.status=='in'}">
                In ({{rosterCount('status', 'in')}})
              </a>
              <a class="button button-dark" ng-click="interface.status='out'; interface.type='all'" ng-class="{selected: interface.status=='out'}">
                Out ({{rosterCount('status', 'out')}})
              </a>
            </div>
          </div>
      </div>
      <div class="row" ng-if="interface.multiselect" class="filters">
          <div class="col">
            <div class="button-bar">
              <a class="button" ng-click="toggleStatus({'status':'ou'})">Out</a>
              <a class="button" ng-click="multiselectCancel()">Cancel</a>
              <a class="button" ng-click="toggleStatus({'status':'in'})">In</a>
            </div>
          </div>
      </div>
    </div>
  </ion-header-bar>

  <ion-content padding="true" class="has-header">
    <div class="entries">
      <ul class="list">
        <div
          on-hold="entry.selected=true; interface.multiselect=true"
          ng-click="selectEntry(entry)"
          ng-repeat="entry in roster.entries | filterEntries:interface | orderBy : 'name'">
          <div
            class="item item-divider"
            id="shortcut{{firstLetter(entry.name)}}"
            ng-if="firstLetter(entry.name) !== firstLetter(roster.entries[$index-1].name)">
            {{firstLetter(entry.name)}}
          </div>
          <div
            class="item item-toggle"
            ng-class="{selected: entry.selected, guest: entry.type=='guest'}">
            <span class="name">{{entry.name}}</span>
            <a ng-if="entry.last_activity!==''" class="subdued">
              Signed {{entry.status}} <span am-time-ago="entry.last_activity"></span>
            </a>
            <label class="toggle">
              <input
                type="checkbox"
                ng-model="entry.status"
                ng-change="toggleStatus(entry)"
                ng-true-value="'in'" ng-false-value="'out'">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </div>
        </div>
      </ul>
    </div>
  </ion-content>
  <div ng-include src="'templates/adminBar.html'"></div>
</ion-view>
