
.bar .bar-header{
  box-shadow: $spaced-out-shadow;
}

.list{
  box-shadow: $spaced-out-shadow;
}

.item-select select{
  color: #eee !important;
}

.item{
  border-top: 1px solid $base-background-color;
}

.item-divider,
.item-divider + .item{
  border-top: none;
}

.roster-activity{
  color: #999;
  font-style: italic;
  font-size: 0.9em;
}

.entries{
  .name{
    display: inline-block;
    min-width: 30%;
  }
  .guest{
    background: #efefef;
    font-style: italic;
  }
  .selected{
    background: #dde;
  }
}

.filters{
  .selected{
    background-color: #262626;
  }
}

.button-bar{
  box-shadow: $spaced-out-shadow-mild;
  .button{
    border: 0px;
    border-left: 1px solid $item-default-bg;
    box-shadow: none;
    .button-calm.activated{
      box-shadow: none;
      background: $darkblue !important;
    }
  }

  .selected{
    background-color: lighten($calm, 5%);;
  }

  .button:first-child{
    border: 0px;
  }

}

.button.button-dark.selected{
  background: $darkblue !important;
}

.button{
  box-shadow: $spaced-out-shadow-mild;
}

.button.activated{
  box-shadow: none;
  border: 0;
}

.item-radio input {
  &:checked + .radio-content .item-content {
    /* style the item content when its checked */
    background: $item-default-bg;
  }
}

.table{
  .header .col {
    background-color: $calm;
  }

  .col {
    border: 0;
    border-bottom-style: none;
    border-right-style: none;
    text-align: center;
    text-transform: capitalize;
  }

  .col:first-child {
    text-align: left;
  }

  .col:last-child {
    text-align: right;
  }
}

.table:nth-child(even){
  background-color: lighten($dark, 30%);
}

.table:nth-child(odd){
  background-color: lighten($dark, 10%);
}

.table:first-child{
  background-color: $dark;
}
