.darkish{
  color: $darkish;
}

.bar .bar-header{
  border-bottom: 1px solid #95aeb5;
  background: darken($base-background-color, 3%);

  .logo{
    height: 100px;
    margin-top: -10px;
  }
}

.admin-bar{
  height: 75px;
  h1{
    color: white;
  }
  button{
    margin-top: 5px;
  }
}

.list{
  box-shadow: $spaced-out-shadow;
}

.item-select select{
  color: #eee !important;
}

.item{
  border-top: 1px solid $base-background-color;
}

.item-divider,
.item-divider + .item{
  border-top: none;
}

.roster-activity{
  color: #999;
  font-style: italic;
  font-size: 0.9em;
}

.entries{
  .name{
    padding-left: 10px;
    text-transform: capitalize;
  }
  .guest{
    background: $guest;
    font-style: italic;
    .label{
      color: #fff;
      font-style: normal;
      font-size: 10px;
      margin-left: 10px;
      padding: 2px 10px 1px 10px;
      background: $base-color;
      border-radius: 4px;
      position: absolute;
      top: 12px;
    }
  }
  .selected{
    background: darken($calm, 15%);
  }
  .item-toggle .toggle {
    top: 21px;
  }
}

.filters{
  .selected{
    background-color: #262626;
  }
}

.button-bar{
  box-shadow: $spaced-out-shadow-mild;
  .button{
    border: 0px;
    border-left: 1px solid $item-default-bg;
    box-shadow: none;
    .button-calm.activated{
      box-shadow: none;
      background: $dark !important;
    }
  }

  .selected{
    background-color: lighten($calm, 5%);;
  }

  .button:first-child{
    border: 0px;
  }

}

.button.button-dark.selected{
  background: $dark !important;
}

.button{
  box-shadow: $spaced-out-shadow-mild;
}

.button.activated{
  box-shadow: none;
  border: 0;
}

$disabledText:                    rgba(black, 0.26) !default;

$material-shadow:                0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26) !default;
$material-shadow-pressed:        0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2) !default;
$floating-button-size: 56px;
$floating-button-small-size: 40px;

.button-round-value{
  display: block;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.button-round-label{
  display: block;
  padding-top: 50px;
  width: $floating-button-size*0.85;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
}

.button.button-round{
  background: none !important;
  box-shadow: none  !important;

  &.selected{
    .button-round-value{
      background: lighten($calm, 20%) !important;
      box-shadow: $material-shadow;
    }
    .button-round-label{
      color: $energized !important;
    }
  }

  .button-round-value{
    position: absolute;
    height: $floating-button-size*0.85;
    width: $floating-button-size*0.85;
    border-radius: 50%;
    min-height: $floating-button-size*0.85;
    padding: 0;
    line-height: 48px;
    font-size: 18px;

    background: darken($calm, 10%);
    color: white;

    box-shadow: $material-shadow;
    transition: all linear 220ms;
    transform: translate3d(0,0,0);
    backface-visibility: hidden;

    &.selected{
      background: lighten($calm, 20%);
    }

    &.activated {
      opacity: 1;
      box-shadow: $material-shadow-pressed;
    }

    &.left {
      left: 1px;
      top: 16px;
    }

    &.bottom-edge-right {
      bottom: -24px;
      right: 16px;
      z-index: 12;
    }

    &.bottom-right {
      bottom: 0;
      margin-bottom: 16px;
      right: 16px;
      z-index: 2;

      &.slide-down {
        transform: translate3d(0,88px,0);
      }

    }
  }
}

.item-radio input {
  &:checked + .radio-content .item-content {
    /* style the item content when its checked */
    background: $item-default-bg;
  }
}

.tabs-background-dark > .tabs{
  border-top: 1px solid darken($energized, 20%) !important;
}

.table{
  .header .col {
    background-color: $calm;
  }

  .col {
    border: 0;
    border-bottom-style: none;
    border-right-style: none;
    text-align: center;
    text-transform: capitalize;
  }

  .col:first-child {
    text-align: left;
  }

  .col:last-child {
    text-align: right;
  }
}

.table:nth-child(even){
  background-color: lighten($dark, 30%);
}

.table:nth-child(odd){
  background-color: lighten($dark, 10%);
}

.table:first-child{
  background-color: $dark;
}

.screensaver{
  .message{
    text-align: right;
    margin-top: 0;
  }

  .time{
    font-size: 72pt;
    color: $light;
  }

  .date{
    font-size: 38pt;
    color: $energized;
  }
  .branding{
    width:100%;
    margin-top: -10px;
  }
}

.rotate-90{
  display: inline-block;
    transform: rotate(90deg);
}

.rotate-180{
  display: inline-block;
    transform: rotate(180deg);
}

.rotate-270{
  display: inline-block;
    transform: rotate(270deg);
}

.popover .scroll-content{
  border-radius: 4px;
  .item{
    background: $dark;

    &.cancel{
      background: $guest;
    }
  }
}

.backup{
  border: 1px solid $darkish;
  margin: 20px 10px;
  padding: 5px 10px;
}
