
$font-family-sans-serif:           '-apple-system', "Roboto", "Segoe UI", sans-serif !default;
$font-family-light-sans-serif:    '-apple-system', "Roboto-Light", "Segoe UI-Light", sans-serif-light !default;

$font-size-base:                  14px;
$base-background-color:           #303030;
$base-color:                      #333;
$positive:                        #387ef5;
$fadedblue:                       #626b79;
$border-radius-base:              4px;
$border-radius-large:             6px;
$border-radius-small:             3px;
$list-header-bg:                  transparent;
$list-header-color:               #222;
$list-header-padding:             5px 15px;
$list-header-margin-top:          20px;

$spaced-out-shadow:               0px 4px 16px -2px rgba(0,0,0,0.2);
$spaced-out-shadow-mild:          0px 2px 8px -1px rgba(0,0,0,0.1);

$calm:                            #119cc1;
$subdued-color:                   #aaa;
$energized:                       #bba717;
$darkish:                         #666;
$guest:                           #42392d;

$item-default-bg:                 #424242;
$item-default-border:             none;
$item-border-width:               0;
$item-default-text:               #eee;
// $item-default-active-bg:          #D9D9D9 !default;
$item-default-active-border:      none;
$card-border-radius:              0;

$item-divider-bg:                 #212121;
$item-divider-color:              #ccc;
$item-divider-padding:            5px 15px;
$item-default-border:             none;
//$item-default-text:               $item-light-text;
$item-default-active-bg:          #D9D9D9;
//$item-default-active-border:      $item-light-active-border;
$bar-height:                      105px;
$bar-default-bg:                  $base-background-color;
//$bar-default-text:                $bar-light-text;
$bar-default-border:              none;
//$bar-default-active-bg:           $bar-light-active-bg;
//$bar-default-active-border:       $bar-light-active-border;

$input-label-color:               #eee;
$input-color:                     #eee;

$popover-width:                   240px;
$popover-height:                  160px;
$popover-large-width:             240px;
$popover-bg-color:                transparent;
$popover-box-shadow:              none;
